/* src/app/page.module.css */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100%;
  padding: 0 1rem;
  font-family: 'NeueHaasDisplay', sans-serif;
}

.backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.motto {
  font-size: 12pt;
  text-transform: uppercase;
  margin: 1rem 0;
  text-align: center;
}

.comingSoon {
  font-size: 12pt;
  text-transform: uppercase;
  margin: 1rem 0;
  text-align: center;
}

.enterPasswordLabelText {
  font-size: 12pt;
  text-transform: uppercase;
  text-align: center;
  padding: 0 0.4rem;
}

.submitButton {
  font-size: 12pt;
  text-transform: uppercase;
  text-align: center;
}

.button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #005bb5;
}

.contactInfo {
  text-decoration: underline 0.1em;
  text-decoration-color: rgba(0, 0, 0, 0);
  text-decoration-thickness: 0.06rem;

  text-underline-offset: 0.2em;
  transition: text-decoration-color 200ms;
  font-size: 13pt;
}

.contactInfo:hover {
  text-decoration-color: rgba(0, 0, 0, 1);
}

.phone {
  cursor: pointer;
}

.email {
  cursor: pointer;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  /* .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  } */
}

@media (prefers-reduced-motion) {
  /* .card:hover span {
    transform: none;
  } */
}

/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}

@media (prefers-color-scheme: dark) {
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
