/* src/components/header.module.css */

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  font-family: 'NeueHaasDisplay', sans-serif;
  letter-spacing: 0.02rem;
  transition: opacity 0.3s ease;
  padding: 1.8rem 2.7rem;
}

.nav.visible {
  opacity: 1;
}

.nav.hidden {
  opacity: 0;
}

.nav a {
  transition: text-shadow 0.2s ease;
}

.nav a:hover {
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}
/* src/components/header.module.css */

.logoInitial {
  position: relative;
  transform: translate(-50%, -50%) scale(3);
  margin-left: 39vw; /* Ajusta el margen izquierdo para centrar horizontalmente */
  margin-top: 48vh; /* Ajusta el margen superior para centrar verticalmente */
  transition:
    transform 0.5s ease-in-out,
    margin-left 0.5s ease-in-out,
    margin-top 0.5s ease-in-out,
    opacity 0.5s ease-in-out;
  opacity: 0; /* Inicia con opacidad 0 */
}

.logoInitialVisible {
  opacity: 1; /* Se hace visible */
}

.logoFinal {
  position: relative;
  transform: translate(0, 0) scale(1);
  margin-left: 0; /* Resetea el margen izquierdo */
  margin-top: 0; /* Resetea el margen superior */
  transition:
    transform 1s ease-in-out,
    margin-left 1s ease-in-out,
    margin-top 1s ease-in-out,
    opacity 1s ease-in-out;
  opacity: 1;
}

.navContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  transition:
    all 0.5s ease-in-out,
    margin-left 0.5s ease-in-out,
    margin-top 0.5s ease-in-out !important;
  font-size: 1.5rem;
  letter-spacing: -0.02rem;
  font-weight: normal;
  width: max-content;
  text-decoration: none;
  z-index: 1000;
  color: var(--header-color, black);
}

.logoActive {
  color: black !important;
}

.forceWhite {
  color: white;
}

.hamburger {
  display: flex;
  align-items: center;
  z-index: 1000;
  color: var(--header-color, black);
  opacity: 0; /* Inicia con opacidad 0 */
  transition: opacity 1s ease-in-out; /* Transición de opacidad */
}

.hamburgerVisible {
  opacity: 1; /* Se hace visible */
}

.menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 999;
  background-color: white;
  right: 0;
  transition: all ease 0.3s;
  opacity: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menuItem {
  margin: 1.2rem 0;
  font-size: 12pt;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.nav.active .menu {
  opacity: 1;
  pointer-events: all;
}

.hamburger-react div {
  height: 2px !important;
}

.logoFinalDelayed {
  transition:
    opacity 2s ease-in-out 1s,
    transform 1s ease-in-out,
    margin-left 1s ease-in-out,
    margin-top 1s ease-in-out !important; /* Add delay to opacity */
  opacity: 1;
}

.logoInitialDelayed {
  opacity: 0;
}
